<ion-header>
  <ion-toolbar>
    <ion-title>
      ¡Bienvenido a TeLlevoAPP!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card color = "warning">
    <ion-card-header>      
      <ion-card-title>Solicita tu Viaje</ion-card-title>      
    </ion-card-header>
    <ion-card-content>
      <!-- Aquí puedes mostrar una lista de viajes disponibles -->
      <ion-list>
        <!-- Ejemplo de un viaje disponible -->
        <ion-item>
          <ion-label>           
          </ion-label>
          <ion-button color= "warning" expand="full" (click)="redirectToLogin()">Entrar</ion-button>

        </ion-item>
        <!-- Puedes agregar más elementos de lista según sea necesario -->
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Otros elementos de la página -->
</ion-content>

